section{
    width: 1000px;
    height: 200px;
    margin: 20px;
    border: 10px groove;
}
#header{
    background-color: #910000;
}
.bg{
    background-image: url(../images/sm_nyc_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-featured{
    background:url(../images/featured.png) no-repeat left top,url(../images/sm_nyc_banner.jpg)no-repeat center/cover;

}
.bg-new{
    background: url(../images/new.png) no-repeat right top,url(../images/featured.png) no-repeat left top,url(../images/sm_nyc_banner.jpg) no-repeat center/cover; 
}