section{
    width: 1000px;
    height: 200px;
    margin: 20px;
    border: 10px groove;
}
#header{
    background-color: #910000;
}
.bg{
    background: url(../images/sm_nyc_banner.jpg) no-repeat center/cover;
}
.bg-featured{
    background-image:url(./image/featured.png), url(./image/sm_nyc_banner.jpg); 
    background-repeat:no-repeat,no-repeat;  
    background-size:50%,cover;

}
.new{
    background-image: url(../images/new.png) url(../images/featured.png) url(../images/sm_nyc_banner.jpg);
    background-position: top right, top left, cover;
    background-repeat: no-repeat;  
}